*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__input{
    padding: 15px 15px 15px 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-image: url('../images/arrow-down-circle.svg');
    background-repeat: no-repeat;
    background-position: 13px 14px;
    margin: 50px 0;
}

.form__btn{
    padding: 8px 20px;
    margin-left: 30px;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgb(21, 182, 21);
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 18px;
    font-weight: 700;
    font-family: serif;
    font-style: italic;
    height: 50px;
}